@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a href="/MaterialDashboard" class="btn btn-info">
    Material Dashboard
</a>
<br />
<a href="/MaterialKit" class="btn btn-success">
    Material Kit
</a>
