@page
@model TestRazorNET8.Pages.Test1Model
@{
}
@* <section class="py-6">
    <div class="container">
        <div class="row justify-space-between py-2">
            <div class="col-lg-4 ms-auto">
                <div class="nav-wrapper position-relative">
                    <ul class="nav nav-pills nav-fill flex-column p-1 me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <li class="nav-item">
                            <a class="nav-link active" id="v-pills-home-tab" 
                            data-bs-toggle="pill" 
                            href="#v-pills-home" 
                            role="tab" 
                            aria-controls="v-pills-home" 
                            aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 me-auto my-auto text-start">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        The reading of all good books is like a conversation with the finest minds of past centuries.
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        Comparing yourself to others is the thief of joy.
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        It’s better to choose, commit, and get started instead of waiting for the best possible option.
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        If you think you can learn a lot from reading books, try writing one.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> *@

<section class="py-7">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="nav-wrapper position-relative end-0">
                    <ul class="nav nav-pills nav-fill p-1" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link mb-0 px-0 py-1 active" data-bs-toggle="tab"
                               href="#v-pills-home"
                               role="tab" 
                            aria-controls="profile" 
                            aria-selected="true">
                                My Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-0 px-0 py-1" 
                            data-bs-toggle="tab"
                               href="#v-pills-profile"
                               role="tab" 
                            aria-controls="dashboard" 
                            aria-selected="false">
                                Dashboard
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tab-content" id="v-pills-tabContent2">
                    <div class="tab-pane fade show active" 
                    id="v-pills-home" 
                    role="tabpanel" 
                    aria-labelledby="v-pills-home-tab">
                        The reading of all good books is like a conversation with the finest minds of past centuries.
                    </div>
                    <div class="tab-pane fade" 
                    id="v-pills-profile" 
                    role="tabpanel" 
                    aria-labelledby="v-pills-profile-tab">
                        Comparing yourself to others is the thief of joy.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-4">
    <div class="container">
        <div class="row justify-space-between py-2">
            <div class="col-lg-4 mx-auto">
                <ul class="pagination pagination-primary pagination-sm m-4">
                    <li class="page-item">
                        <a class="page-link" href="javascript:;" aria-label="Previous">
                            <span aria-hidden="true"><i class="material-icons" aria-hidden="true">chevron_left</i></span>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="javascript:;">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;">5</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;" aria-label="Next">
                            <span aria-hidden="true"><i class="material-icons" aria-hidden="true">chevron_right</i></span>
                        </a>
                    </li>
                </ul>

                <ul class="pagination pagination-primary m-4">
                    <li class="page-item">
                        <a class="page-link" href="javascript:;" aria-label="Previous">
                            <span aria-hidden="true"><i class="material-icons" aria-hidden="true">chevron_left</i></span>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="javascript:;">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;">5</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;" aria-label="Next">
                            <span aria-hidden="true"><i class="material-icons" aria-hidden="true">chevron_right</i></span>
                        </a>
                    </li>
                </ul>

                <ul class="pagination pagination-primary pagination-lg m-4">
                    <li class="page-item">
                        <a class="page-link" href="javascript:;" aria-label="Previous">
                            <span aria-hidden="true"><i class="material-icons" aria-hidden="true">keyboard_double_arrow_left</i></span>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="javascript:;">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;">5</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;" aria-label="Next">
                            <span aria-hidden="true"><i class="material-icons" aria-hidden="true">keyboard_double_arrow_right</i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="py-7">
    <div class="container">
        <div class="row justify-space-between py-2">
            <div class="col-lg-4 mx-auto">
                <div class="input-group input-group-dynamic">
                    <label class="form-label">Regular</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-7">
    <div class="container">
        <div class="row justify-space-between py-2">
            <div class="col-lg-4 mx-auto">
                <div class="input-group input-group-static mb-4">
                    <label>First Name</label>
                    <input class="form-control" placeholder="eg. Thomas Shelby" type="text">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-7">
    <div class="container">
        <div class="row justify-space-between py-2">
            <div class="col-lg-4 mx-auto">
                <div class="input-group input-group-outline mb-4">
                    <label class="form-label">Outline</label>
                    <input class="form-control" type="text">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-7">
    <div class="container">
        <div class="row justify-space-between py-2">
            <div class="col-lg-4 mx-auto">
                <div class="input-group input-group-dynamic mb-4">
                    <span class="input-group-text"><i class="fas fa-search" aria-hidden="true"></i></span>
                    <input class="form-control" placeholder="Search" type="text">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-7">
    <div class="container">
        <div class="row justify-space-between py-2">
            <div class="col-lg-4 mx-auto">
                <input type="text" placeholder="Success" class="form-control is-valid">
            </div>
        </div>
    </div>
</section>

<section class="py-7">
    <div class="container">
        <div class="row justify-space-between py-2">
            <div class="col-lg-4 mx-auto">
                <input type="text" placeholder="Error" class="form-control is-invalid">
            </div>
        </div>
    </div>
</section>

<section class="py-7">
    <div class="container">
        <div class="row justify-space-between py-2">
            <div class="col-lg-4 mx-auto">
                <input type="text" placeholder="Disabled" class="form-control" disabled>
            </div>
        </div>
    </div>
</section>

<div class="container py-5">
    <div class="row">
        <div class="alert alert-primary text-white font-weight-bold" role="alert">
            A simple primary alert—check it out!
        </div>
        <div class="alert alert-secondary text-white font-weight-bold" role="alert">
            A simple secondary alert—check it out!
        </div>
        <div class="alert alert-success text-white font-weight-bold" role="alert">
            A simple success alert—check it out!
        </div>
        <div class="alert alert-danger text-white font-weight-bold" role="alert">
            A simple danger alert—check it out!
        </div>
        <div class="alert alert-warning text-white font-weight-bold" role="alert">
            A simple warning alert—check it out!
        </div>
        <div class="alert alert-info text-white font-weight-bold" role="alert">
            A simple info alert—check it out!
        </div>
        <div class="alert alert-light text-white font-weight-bold" role="alert">
            A simple light alert—check it out!
        </div>
        <div class="alert alert-dark text-white font-weight-bold" role="alert">
            A simple dark alert—check it out!
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6 mx-auto mt-7">
            <div class="toast bg-gradient-dark fade show p-2 mx-auto" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header border-0 bg-transparent">
                    <i class="material-icons me-2 text-white">diamond</i>
                    <span class="me-auto font-weight-bold text-white">Material Design</span>
                    <small class="text-white">11 mins ago</small>
                    <i class="fas fa-times text-md ms-3 cursor-pointer text-white" data-bs-dismiss="toast" aria-label="Close"></i>
                </div>
                <hr class="horizontal light m-0">
                <div class="toast-body text-white">
                    Hello, world! This is a notification message.
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6 mt-8 pt-3 mx-auto">
                <div class="toast fade show d-flex align-items-center justify-content-between bg-gradient-primary border-0 pe-2 mx-auto" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-body text-white">
                        Hello, world! This is a notification message.
                    </div>
                    <i class="fas fa-times text-md cursor-pointer pe-2 text-white" data-bs-dismiss="toast" aria-label="Close"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto">
                <div class="toast fade show p-2 mx-auto mt-7" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-body text-center">
                        Hello, world! This is a toast message.
                        <hr class="horizontal dark">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn bg-gradient-primary btn-sm me-2 mb-0">Take action</button>
                            <button type="button" class="btn bg-gradient-secondary btn-sm mb-0" data-bs-dismiss="toast">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-7">
        <div class="row mt-5">
            <div class="col-sm-3 col-6 mx-auto">
                <!-- Button trigger modal -->
                <button type="button" class="btn bg-gradient-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Launch demo modal
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Your modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Society has put up so many boundaries, so many limitations on what’s right and wrong that it’s almost impossible to get a pure thought out.
                                <br><br>
                                It’s like a little kid, a little boy, looking at colors, and no one told him what colors are good, before somebody tells you you shouldn’t like pink because that’s for girls, or you’d instantly become a gay two-year-old.
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn bg-gradient-dark mb-0" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn bg-gradient-primary mb-0">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-7">
        <div class="row mt-5">
            <div class="col-sm-3 col-6 mx-auto">
                <!-- Button trigger modal -->
                <button type="button" class="btn bg-gradient-danger" data-bs-toggle="modal" data-bs-target="#exampleModalNotification">
                    Launch demo modal
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalNotification" tabindex="-1" aria-labelledby="exampleModalNotification" aria-hidden="true">
                    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                        <div class="modal-content bg-gradient-danger">
                            <div class="modal-header border-0">
                                <h6 class="modal-title text-white" id="modal-title-notification">Your attention is required</h6>
                                <button type="button" class="btn btn-link text-white my-1" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
                            </div>
                            <hr class="horizontal light mt-0">
                            <div class="modal-body">
                                <div class="py-3 text-center text-white">
                                    <i class="material-icons text-3xl">notifications_active</i>
                                    <h4 class="heading mt-4 text-white">You should read this!</h4>
                                    <p class="text-white opacity-8">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                                </div>
                            </div>
                            <hr class="horizontal light mb-0">
                            <div class="modal-footer justify-content-between border-0">
                                <button type="button" class="btn btn-white my-1">Ok, Got it</button>
                                <button type="button" class="btn btn-link text-white my-1" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-7">
        <div class="row mt-5">
            <div class="col-sm-3 col-6 mx-auto">
                <!-- Button trigger modal -->
                <button type="button" class="btn bg-gradient-info" data-bs-toggle="modal" data-bs-target="#exampleModalForm">
                    Launch demo modal
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalForm" tabindex="-1" aria-labelledby="exampleModalForm" aria-hidden="true">
                    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                        <div class="modal-content">
                            <div class="modal-body p-0">
                                <div class="card bg-gray-200 shadow border-0 mb-0">
                                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                        <div class="bg-gradient-info shadow-info border-radius-lg py-3 pe-1 text-center py-4">
                                            <h4 class="font-weight-bolder text-white mt-1 mb-0">Welcome back</h4>
                                            <p class="mb-1 text-sm text-white">Enter your email and password to sign in</p>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <form role="form text-start">
                                            <div class="input-group input-group-static mb-4">
                                                <label>Email</label>
                                                <input type="email" class="form-control" placeholder="john@email.com">
                                            </div>
                                            <div class="input-group input-group-static mb-4">
                                                <label>Password</label>
                                                <input type="password" class="form-control" placeholder="•••••••••••••">
                                            </div>
                                            <div class="form-check form-switch d-flex align-items-center">
                                                <input class="form-check-input" type="checkbox" id="rememberMe" checked="">
                                                <label class="form-check-label mb-0 ms-3" for="rememberMe">Remember me</label>
                                            </div>
                                            <div class="text-center">
                                                <button type="button" class="btn bg-gradient-info mt-4 mb-0">Sign in</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center pt-0">
                                        <p class="mb-4 text-sm mx-auto">
                                            Don`t have an account?
                                            <a href="javascript:;" class="text-info text-gradient font-weight-bold">Sign up</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row py-7 text-center">
            <div>
                <button type="button" class="btn bg-gradient-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="That’s the main thing people are controlled by! Thoughts- their perception of themselves!">
                    Popover on top
                </button>

                <button type="button" class="btn bg-gradient-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="We’re not always in the position that we want to be at.">
                    Popover on right
                </button>

                <button type="button" class="btn bg-gradient-primary" data-bs-container="body" title="Popover with title" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="A lot of people don’t appreciate the moment until it’s passed.">
                    Popover on bottom
                </button>

                <button type="button" class="btn bg-gradient-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-content="It really matters and then like it really doesn’t matter. What matters is the people who are sparked by it.">
                    Popover on left
                </button>
            </div>
        </div>
    </div>

    <!-- initialization script -->
    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })
    </script>

    <div class="container">
        <div class="row py-8 text-center">
            <div>
                <button type="button" class="btn bg-gradient-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
                    Tooltip on top
                </button>
                <button type="button" class="btn bg-gradient-primary" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right">
                    Tooltip on right
                </button>
                <button type="button" class="btn bg-gradient-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom">
                    Tooltip on bottom
                </button>
                <button type="button" class="btn bg-gradient-primary" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">
                    Tooltip on left
                </button>
            </div>
        </div>
    </div>


    <!-- initialization script -->
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>

    <div class="container py-6">
        <div class="row mt-5 text-center">
            <div class="col-12">
                <a href="javascript:;" class="avatar avatar-xs rounded-circle">
                    <img alt="Image placeholder" src="../../assets/img/team-4.jpg">
                </a>
                <a href="javascript:;" class="avatar avatar-sm rounded-circle">
                    <img alt="Image placeholder" src="../../assets/img/team-4.jpg">
                </a>
                <a href="javascript:;" class="avatar rounded-circle">
                    <img alt="Image placeholder" src="../../assets/img/team-4.jpg">
                </a>
                <a href="javascript:;" class="avatar avatar-lg rounded-circle">
                    <img alt="Image placeholder" src="../../assets/img/team-4.jpg">
                </a>
                <a href="javascript:;" class="avatar avatar-xl rounded-circle">
                    <img alt="Image placeholder" src="../../assets/img/team-4.jpg">
                </a>
            </div>
        </div>
    </div>

    <section class="py-7 mt-3">
        <div class="container">
            <div class="row justify-space-between text-center py-2">
                <div class="col-12">
                    <span class="badge rounded-pill bg-primary">Primary</span>
                    <span class="badge rounded-pill bg-secondary">Secondary</span>
                    <span class="badge rounded-pill bg-success">Success</span>
                    <span class="badge rounded-pill bg-danger">Danger</span>
                    <span class="badge rounded-pill bg-warning">Warning</span>
                    <span class="badge rounded-pill bg-info">Info</span>
                    <span class="badge rounded-pill bg-light text-dark">Light</span>
                    <span class="badge rounded-pill bg-dark">Dark</span>
                </div>
            </div>
        </div>
    </section>

    <div class="container py-6 mt-2">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item text-dark active" aria-current="page">Home</li>
                </ol>
            </nav>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item text-dark opacity-5"><a href="javascript">Home</a></li>
                    <li class="breadcrumb-item text-dark active" aria-current="page">Library</li>
                </ol>
            </nav>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item text-dark opacity-5"><a href="javascript">Home</a></li>
                    <li class="breadcrumb-item text-dark opacity-5"><a href="javascript">Library</a></li>
                    <li class="breadcrumb-item text-dark active" aria-current="page">Data</li>
                </ol>
            </nav>
        </div>
    </div>

    <section class="py-7 mt-3">
        <div class="container">
            <div class="row justify-space-between text-center py-2">
                <div class="col-12 mx-auto">

                    <button type="button" class="btn bg-gradient-primary w-auto me-2">Primary</button>

                    <button type="button" class="btn bg-gradient-secondary w-auto me-2">Secondary</button>

                    <button type="button" class="btn bg-gradient-info w-auto me-2">Info</button>

                    <button type="button" class="btn bg-gradient-success w-auto me-2">Success</button>

                    <button type="button" class="btn bg-gradient-warning w-auto me-2">Warning</button>

                    <button type="button" class="btn bg-gradient-danger w-auto me-2">Danger</button>

                    <button type="button" class="btn bg-gradient-light w-auto me-2">Light</button>

                    <button type="button" class="btn bg-gradient-dark w-auto me-2">Dark</button>

                    <button type="button" class="btn bg-gradient-white w-auto me-2">White</button>

                </div>
            </div>
        </div>
    </section>

    <section class="py-7 mt-3">
        <div class="container">
            <div class="row justify-space-between text-center py-2">
                <div class="col-12 mx-auto">

                    <button type="button" class="btn btn-primary w-auto me-2">Primary</button>

                    <button type="button" class="btn btn-secondary w-auto me-2">Secondary</button>

                    <button type="button" class="btn btn-info w-auto me-2">Info</button>

                    <button type="button" class="btn btn-success w-auto me-2">Success</button>

                    <button type="button" class="btn btn-warning w-auto me-2">Warning</button>

                    <button type="button" class="btn btn-danger w-auto me-2">Danger</button>

                    <button type="button" class="btn btn-light w-auto me-2">Light</button>

                    <button type="button" class="btn btn-dark w-auto me-2">Dark</button>

                    <button type="button" class="btn btn-white w-auto me-2">White</button>

                </div>
            </div>
        </div>
    </section>

    <section class="py-7 mt-3">
        <div class="container">
            <div class="row justify-space-between text-center py-2">
                <div class="col-12 mx-auto">

                    <button type="button" class="btn btn-outline-primary">Primary</button>

                    <button type="button" class="btn btn-outline-secondary">Secondary</button>

                    <button type="button" class="btn btn-outline-info">Info</button>

                    <button type="button" class="btn btn-outline-success">Success</button>

                    <button type="button" class="btn btn-outline-warning">Warning</button>

                    <button type="button" class="btn btn-outline-danger">Danger</button>

                    <button type="button" class="btn btn-outline-light">Light</button>

                    <button type="button" class="btn btn-outline-dark">Dark</button>

                    <button type="button" class="btn btn-outline-white">White</button>

                </div>
            </div>
        </div>
    </section>

    <section class="py-7 mt-3">
        <div class="container">
            <div class="row justify-space-between text-center py-2">
                <div class="col-12 mx-auto">
                    <button type="button" class="btn bg-gradient-primary btn-sm me-2">Small</button>

                    <button type="button" class="btn bg-gradient-primary w-auto me-2">Default</button>

                    <button type="button" class="btn bg-gradient-primary btn-lg">Large</button>

                </div>
            </div>
        </div>
    </section>

    <section class="py-7 mt-3">
        <div class="container">
            <div class="row justify-space-between text-center py-2">
                <div class="col-12 mx-auto">
                    <button class="btn bg-gradient-primary btn-icon btn-sm" type="button">
                        <div class="d-flex align-items-center">
                            <i class="material-icons me-2" aria-hidden="true">favorite</i>
                            Small
                        </div>
                    </button>

                    <button class="btn bg-gradient-primary btn-icon" type="button">
                        <div class="d-flex align-items-center">
                            <i class="material-icons me-2" aria-hidden="true">favorite</i>
                            Default
                        </div>
                    </button>

                    <button class="btn bg-gradient-primary btn-icon btn-lg" type="button">
                        <div class="d-flex align-items-center">
                            <i class="material-icons me-2" aria-hidden="true">favorite</i>
                            Large
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section class="py-7 mt-3">
        <div class="container">
            <div class="row justify-space-between text-center py-2">
                <div class="col-12 mx-auto">
                    <button class="btn bg-gradient-primary btn-icon btn-sm" type="button">
                        <div class="d-flex align-items-center">
                            Small
                            <i class="material-icons ms-2" aria-hidden="true">favorite</i>
                        </div>
                    </button>

                    <button class="btn bg-gradient-primary btn-icon" type="button">
                        <div class="d-flex align-items-center">
                            Default
                            <i class="material-icons ms-2" aria-hidden="true">favorite</i>
                        </div>
                    </button>

                    <button class="btn bg-gradient-primary btn-icon btn-lg" type="button">
                        <div class="d-flex align-items-center">
                            Large
                            <i class="material-icons ms-2" aria-hidden="true">favorite</i>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section class="py-7 mt-3">
        <div class="container">
            <div class="row justify-space-between text-center py-2">
                <div class="col-6 mx-auto">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary">Left</button>
                        <button type="button" class="btn btn-primary">Middle</button>
                        <button type="button" class="btn btn-primary">Right</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-7 mt-3">
        <div class="container">
            <div class="row justify-space-between text-center py-2">
                <div class="col-6 mx-auto">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-dark">Left</button>
                        <button type="button" class="btn btn-outline-dark">Middle</button>
                        <button type="button" class="btn btn-outline-dark">Right</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-7 mt-3">
        <div class="container">
            <div class="row justify-space-between text-center py-2">
                <div class="col-6 mx-auto">
                    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                        <label class="btn btn-outline-dark" for="btncheck1">Checkbox 1</label>

                        <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
                        <label class="btn btn-outline-dark" for="btncheck2">Checkbox 2</label>

                        <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                        <label class="btn btn-outline-dark" for="btncheck3">Checkbox 3</label>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-7 mt-3">
        <div class="container">
            <div class="row justify-space-between text-center py-2">
                <div class="col-6 mx-auto">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                        <label class="btn btn-outline-dark" for="btnradio1">Radio 1</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-dark" for="btnradio2">Radio 2</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                        <label class="btn btn-outline-dark" for="btnradio3">Radio 3</label>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-6 mt-2">
        <div class="container">
            <div class="row justify-space-between py-2">
                <div class="col-6 mx-auto">
                    <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary">Left</button>
                        <button type="button" class="btn btn-primary">Middle</button>
                        <button type="button" class="btn btn-primary">Right</button>
                    </div>

                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary">Left</button>
                        <button type="button" class="btn btn-primary">Middle</button>
                        <button type="button" class="btn btn-primary">Right</button>
                    </div>
                    <br>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary">Left</button>
                        <button type="button" class="btn btn-primary">Middle</button>
                        <button type="button" class="btn btn-primary">Right</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Start dropdowns & dropups -->
    <div class="container py-7">
        <div class="row">
            <div class="row">
                <div class="col-lg-4 ms-lg-auto col-md-6 col-sm-3 d-flex justify-content-center">
                    <div class="dropdown">
                        <button class="btn bg-gradient-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown button
                        </button>
                        <ul class="dropdown-menu px-2 py-3" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                            <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                            <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 me-lg-auto col-md-6 col-sm-3 d-flex justify-content-center">
                    <div class="btn-group dropup mt-7">
                        <button type="button" class="btn bg-gradient-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropup
                        </button>
                        <ul class="dropdown-menu px-2 py-3" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                            <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                            <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--   end dropdowns & dropups -->

    <div class="container py-7">
        <div class="row">
            <div class="col-3 mx-auto">
                <select class="form-control" name="choice-button" id="choice-button" placeholder="Language">
                    <option value="Choice 1" selected>Brazil</option>
                    <option value="Choice 2">Bucharest</option>
                    <option value="Choice 3">London</option>
                    <option value="Choice 4">Washington</option>
                </select>
            </div>
        </div>
    </div>


    <!-- mandatory scripts -->
    <script src="./assets/js/plugins/choices.min.js"></script>
    <script>
        if (document.getElementById("choices-button")) {
            var element = document.getElementById("choices-button");
            const example = new Choices(element, {});
        }
    </script>

    <section class="py-7 mt-4">
        <div class="container">
            <div class="row justify-space-between py-2">
                <div class="col-lg-6 mx-auto">
                    <div id="sliderRegular"></div>
                    <br>
                    <div id="sliderDouble"></div>
                </div>
            </div>
        </div>
    </section>


    <script>
        var slider = document.getElementById('sliderRegular');

        noUiSlider.create(slider, {
            start: 40,
            connect: [true, false],
            range: {
                'min': 0,
                'max': 100
            }
        });

        var slider2 = document.getElementById('sliderDouble');

        noUiSlider.create(slider2, {
            start: [20, 60],
            connect: true,
            range: {
                min: 0,
                max: 100
            }
        });

    </script>

    <section class="py-6 mt-4">
        <div class="container">
            <div class="row justify-space-between py-2">
                <div class="col-lg-6 mx-auto">
                    <div class="progress mb-3">
                        <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-6 mt-4">
        <div class="container">
            <div class="row justify-space-between py-2">
                <div class="col-lg-6 mx-auto">
                    <div class="progress mb-3">
                        <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-gradient-secondary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-gradient-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-gradient-dark" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-6 mt-4">
        <div class="container">
            <div class="row justify-space-between py-2">
                <div class="col-lg-6 mx-auto">
                    <div class="progress mb-3">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-secondary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-dark" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-7">
        <div class="container">
            <div class="row justify-space-between text-center py-2">
                <div class="col-12 mx-auto">
                    <button type="button" class="btn-icon btn btn-facebook">
                        <span class="btn-inner--icon mr-1"><i class="fab fa-facebook"></i></span>
                        <span class="btn-inner--text">Facebook</span>
                    </button>
                    <button type="button" class="btn-icon btn btn-twitter">
                        <span class="btn-inner--icon mr-1"><i class="fab fa-twitter"></i></span>
                        <span class="btn-inner--text">Twitter</span>
                    </button>
                    <button type="button" class="btn-instagram btn-icon btn">
                        <span class="btn-inner--icon mr-1"><i class="fab fa-instagram"></i></span>
                        <span class="btn-inner--text">Instagram</span>
                    </button>
                    <button type="button" class="btn-github btn-icon btn">
                        <span class="btn-inner--icon mr-1"><i class="fab fa-github"></i></span>
                        <span class="btn-inner--text">Github</span>
                    </button>
                    <button type="button" class="btn-icon btn btn-pinterest">
                        <span class="btn-inner--icon mr-1"><i class="fab fa-pinterest"></i></span>
                        <span class="btn-inner--text">Pinterest</span>
                    </button>
                    <button type="button" class="btn-icon btn btn-youtube">
                        <span class="btn-inner--icon"><i class="fab fa-youtube"></i></span>
                        <span class="btn-inner--text">Youtube</span>
                    </button>
                    <button type="button" class="btn btn-vimeo btn-icon">
                        <span class="btn-inner--icon mr-1"><i class="fab fa-vimeo-v"></i></span>
                        <span class="btn-inner--text">Vimeo</span>
                    </button>
                    <button type="button" class="btn-slack btn btn-icon">
                        <span class="btn-inner--icon mr-1"><i class="fab fa-slack"></i></span>
                        <span class="btn-inner--text">Slack</span>
                    </button>
                    <button type="button" class="btn-icon btn btn-dribbble">
                        <span class="btn-inner--icon mr-1"><i class="fab fa-dribbble"></i></span>
                        <span class="btn-inner--text">Dribbble</span>
                    </button>
                    <button type="button" class="btn-icon btn btn-reddit">
                        <span class="btn-inner--icon mr-1"><i class="fab fa-reddit"></i></span>
                        <span class="btn-inner--text">Reddit</span>
                    </button>
                    <button type="button" class="btn-icon btn btn-tumblr">
                        <span class="btn-inner--icon mr-1"><i class="fab fa-tumblr"></i></span>
                        <span class="btn-inner--text">Tumblr</span>
                    </button>
                    <button type="button" class="btn-icon btn btn-linkedin">
                        <span class="btn-inner--icon mr-1"><i class="fab fa-linkedin"></i></span>
                        <span class="btn-inner--text">LinkedIn</span>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section class="py-7 mt-3">
        <div class="container">
            <div class="row justify-space-between text-center py-2">
                <div class="col-12 mx-auto">
                    <button type="button" class="btn btn-icon-only btn-facebook">
                        <span class="btn-inner--icon mr-1"><i class="fab fa-facebook"></i></span>
                    </button>
                    <button type="button" class="btn btn-icon-only btn-twitter">
                        <span class="btn-inner--icon mr-1"><i class="fab fa-twitter"></i></span>
                    </button>
                    <button type="button" class="btn btn-icon-only btn-instagram">
                        <span class="btn-inner--icon mr-1"><i class="fab fa-instagram"></i></span>
                    </button>
                    <button type="button" class="btn btn-icon-only btn-github">
                        <span class="btn-inner--icon mr-1"><i class="fab fa-github"></i></span>
                    </button>
                    <button type="button" class="btn btn-icon-only btn-pinterest">
                        <span class="btn-inner--icon mr-1"><i class="fab fa-pinterest"></i></span>
                    </button>
                    <button type="button" class="btn btn-icon-only btn-youtube">
                        <span class="btn-inner--icon"><i class="fab fa-youtube"></i></span>
                    </button>
                    <button type="button" class="btn btn-icon-only btn-vimeo">
                        <span class="btn-inner--icon mr-1"><i class="fab fa-vimeo-v"></i></span>
                    </button>
                    <button type="button" class="btn btn-icon-only btn-slack">
                        <span class="btn-inner--icon mr-1"><i class="fab fa-slack"></i></span>
                    </button>
                    <button type="button" class="btn btn-icon-only btn-dribbble">
                        <span class="btn-inner--icon mr-1"><i class="fab fa-dribbble"></i></span>
                    </button>
                    <button type="button" class="btn btn-icon-only btn-reddit">
                        <span class="btn-inner--icon mr-1"><i class="fab fa-reddit"></i></span>
                    </button>
                    <button type="button" class="btn btn-icon-only btn-tumblr">
                        <span class="btn-inner--icon mr-1"><i class="fab fa-tumblr"></i></span>
                    </button>
                    <button type="button" class="btn btn-icon-only btn-linkedin">
                        <span class="btn-inner--icon mr-1"><i class="fab fa-linkedin"></i></span>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <h2 class="text-gradient text-primary text-center">Compare Features</h2>
                    <p class="lead mb-5">Join the world&#39;s largest developer community</p>
                </div>
                <div class="col-lg-10">
                    <div class="table-responsive">
                        <table class="table table-pricing">
                            <thead class="text-light">
                                <tr>
                                    <th class="ps-2">
                                        <h6 class="mb-0">Space individual</h6>
                                    </th>
                                    <th class="text-center">
                                        <h6 class="font-weight-bold">Team</h6>
                                        <h5 class="font-weight-bolder text-darker mb-0">$39</h5>
                                    </th>
                                    <th class="text-center">
                                        <h6 class="font-weight-bold">Growth</h6>
                                        <h5 class="font-weight-bolder text-darker mb-0">$79</h5>
                                    </th>
                                    <th class="text-center">
                                        <h6 class="font-weight-bold">Enterprise</h6>
                                        <h5 class="font-weight-bolder text-darker mb-0">$99</h5>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="py-3">
                                        <span class="text-xs">Community support</span>
                                    </td>
                                    <td class="text-center py-3">
                                        <i class="fas fa-check text-success text-xs"></i>
                                    </td>
                                    <td class="text-center py-3">
                                        <i class="fas fa-check text-success text-xs"></i>
                                    </td>
                                    <td class="text-center py-3">
                                        <i class="fas fa-check text-success text-xs"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-3">
                                        <span class="text-xs">100+ Example Pages</span>
                                    </td>
                                    <td class="text-center py-3">
                                        <i class="fas fa-check text-success text-xs"></i>
                                    </td>
                                    <td class="text-center py-3">
                                        <i class="fas fa-check text-success text-xs"></i>
                                    </td>
                                    <td class="text-center py-3">
                                        <i class="fas fa-check text-success text-xs"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-3">
                                        <span class="text-xs">50+ Section Examples</span>
                                    </td>
                                    <td class="text-center py-3">
                                        <i class="fas fa-check text-success text-xs"></i>
                                    </td>
                                    <td class="text-center py-3">
                                        <i class="fas fa-check text-success text-xs"></i>
                                    </td>
                                    <td class="text-center py-3">
                                        <i class="fas fa-check text-success text-xs"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-3">
                                        <span class="text-xs">Multiple use</span>
                                    </td>
                                    <td class="text-center py-3">
                                    </td>
                                    <td class="text-center py-3">
                                        <span class="text-xs">
                                            upon request
                                        </span>
                                    </td>
                                    <td class="text-center py-3">
                                        <span class="text-xs">
                                            upon request
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="pt-4 pb-2 ps-2">
                                        <h6 class="mb-0">Developer tools</h6>
                                    </th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td class="py-3">
                                        <span class="text-xs">Custom messages</span>
                                    </td>
                                    <td class="text-center py-3">
                                        <i class="fas fa-minus text-secondary text-xs"></i>
                                    </td>
                                    <td class="text-center py-3">
                                        <i class="fas fa-check text-success text-xs"></i>
                                    </td>
                                    <td class="text-center py-3">
                                        <i class="fas fa-check text-success text-xs"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-3">
                                        <span class="text-xs">Multiple requests</span>
                                    </td>
                                    <td class="text-center py-3">
                                        <i class="fas fa-minus text-secondary text-xs"></i>
                                    </td>
                                    <td class="text-center py-3">
                                        <i class="fas fa-minus text-secondary text-xs"></i>
                                    </td>
                                    <td class="text-center py-3">
                                        <i class="fas fa-check text-success text-xs"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="border-bottom-0"></th>
                                    <th class="text-center align-items-center border-bottom-0">
                                        <a href="javascript:;" class="btn btn-dark mt-3">Choose Plan</a>
                                    </th>
                                    <th class="text-center align-items-center border-bottom-0">
                                        <a href="javascript:;" class="btn btn-dark mt-3">Choose Plan</a>
                                    </th>
                                    <th class="text-center align-items-center border-bottom-0">
                                        <a href="javascript:;" class="btn bg-gradient-primary mt-3">Choose Plan</a>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-5 mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Author</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Function</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Technology</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Employed</th>
                                        <th class="text-secondary opacity-7"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div>
                                                    <img src="../../assets/img/team-2.jpg" class="avatar avatar-sm me-3">
                                                </div>
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-xs">John Michael</h6>
                                                    <p class="text-xs text-secondary mb-0">john@creative-tim.com</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">Manager</p>
                                            <p class="text-xs text-secondary mb-0">Organization</p>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="badge badge-sm badge-success">Online</span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">23/04/18</span>
                                        </td>
                                        <td class="align-middle">
                                            <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                Edit
                                            </a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div>
                                                    <img src="../../assets/img/team-3.jpg" class="avatar avatar-sm me-3">
                                                </div>
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-xs">Alexa Liras</h6>
                                                    <p class="text-xs text-secondary mb-0">alexa@creative-tim.com</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">Programator</p>
                                            <p class="text-xs text-secondary mb-0">Developer</p>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="badge badge-sm badge-secondary">Offline</span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">11/01/19</span>
                                        </td>
                                        <td class="align-middle">
                                            <a href="#!" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                Edit
                                            </a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div>
                                                    <img src="../../assets/img/team-4.jpg" class="avatar avatar-sm me-3">
                                                </div>
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-xs">Laurent Perrier</h6>
                                                    <p class="text-xs text-secondary mb-0">laurent@creative-tim.com</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">Executive</p>
                                            <p class="text-xs text-secondary mb-0">Projects</p>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="badge badge-sm badge-success">Online</span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">19/09/17</span>
                                        </td>
                                        <td class="align-middle">
                                            <a href="#!" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                Edit
                                            </a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div>
                                                    <img src="../../assets/img/team-3.jpg" class="avatar avatar-sm me-3">
                                                </div>
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-xs">Michael Levi</h6>
                                                    <p class="text-xs text-secondary mb-0">michael@creative-tim.com</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">Programator</p>
                                            <p class="text-xs text-secondary mb-0">Developer</p>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="badge badge-sm badge-success">Online</span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">24/12/08</span>
                                        </td>
                                        <td class="align-middle">
                                            <a href="#!" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                Edit
                                            </a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div>
                                                    <img src="../../assets/img/team-2.jpg" class="avatar avatar-sm me-3">
                                                </div>
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-xs">Richard Gran</h6>
                                                    <p class="text-xs text-secondary mb-0">richard@creative-tim.com</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">Manager</p>
                                            <p class="text-xs text-secondary mb-0">Executive</p>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="badge badge-sm badge-secondary">Offline</span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">04/10/21</span>
                                        </td>
                                        <td class="align-middle">
                                            <a href="#!" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                Edit
                                            </a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div>
                                                    <img src="../../assets/img/team-4.jpg" class="avatar avatar-sm me-3">
                                                </div>
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-xs">Miriam Eric</h6>
                                                    <p class="text-xs text-secondary mb-0">miriam@creative-tim.com</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">Programtor</p>
                                            <p class="text-xs text-secondary mb-0">Developer</p>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="badge badge-sm badge-secondary">Offline</span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">14/09/20</span>
                                        </td>
                                        <td class="align-middle">
                                            <a href="#!" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                Edit
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-5 mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Project</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Budget</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Completion</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2">
                                                <div>
                                                    <img src="../../assets/img/logos/small-logos/logo-spotify.svg" class="avatar avatar-sm rounded-circle me-2">
                                                </div>
                                                <div class="my-auto">
                                                    <h6 class="mb-0 text-xs">Spotify</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">$2,500</p>
                                        </td>
                                        <td>
                                            <span class="badge badge-dot me-4">
                                                <i class="bg-info"></i>
                                                <span class="text-dark text-xs">working</span>
                                            </span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <div class="d-flex align-items-center">
                                                <span class="me-2 text-xs">60%</span>
                                                <div>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="align-middle">
                                            <button class="btn btn-link text-secondary mb-0">
                                                <i class="fa fa-ellipsis-v text-xs"></i>
                                            </button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="d-flex px-2">
                                                <div>
                                                    <img src="../../assets/img/logos/small-logos/logo-invision.svg" class="avatar avatar-sm rounded-circle me-2">
                                                </div>
                                                <div class="my-auto">
                                                    <h6 class="mb-0 text-xs">Invision</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">$5,000</p>
                                        </td>
                                        <td>
                                            <span class="badge badge-dot me-4">
                                                <i class="bg-success"></i>
                                                <span class="text-dark text-xs">done</span>
                                            </span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <div class="d-flex align-items-center">
                                                <span class="me-2 text-xs">100%</span>
                                                <div>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="align-middle">
                                            <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v text-xs"></i>
                                            </button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="d-flex px-2">
                                                <div>
                                                    <img src="../../assets/img/logos/small-logos/logo-jira.svg" class="avatar avatar-sm rounded-circle me-2">
                                                </div>
                                                <div class="my-auto">
                                                    <h6 class="mb-0 text-xs">Jira</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">$3,400</p>
                                        </td>
                                        <td>
                                            <span class="badge badge-dot me-4">
                                                <i class="bg-danger"></i>
                                                <span class="text-dark text-xs">canceled</span>
                                            </span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <div class="d-flex align-items-center">
                                                <span class="me-2 text-xs">30%</span>
                                                <div>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="30" style="width: 30%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="align-middle">
                                            <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v text-xs"></i>
                                            </button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="d-flex px-2">
                                                <div>
                                                    <img src="../../assets/img/logos/small-logos/logo-slack.svg" class="avatar avatar-sm rounded-circle me-2">
                                                </div>
                                                <div class="my-auto">
                                                    <h6 class="mb-0 text-xs">Slack</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">$1,000</p>
                                        </td>
                                        <td>
                                            <span class="badge badge-dot me-4">
                                                <i class="bg-danger"></i>
                                                <span class="text-dark text-xs">canceled</span>
                                            </span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <div class="d-flex align-items-center">
                                                <span class="me-2 text-xs">0%</span>
                                                <div>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" style="width: 0%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="align-middle">
                                            <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v text-xs"></i>
                                            </button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="d-flex px-2">
                                                <div>
                                                    <img src="../../assets/img/logos/small-logos/logo-webdev.svg" class="avatar avatar-sm rounded-circle me-2">
                                                </div>
                                                <div class="my-auto">
                                                    <h6 class="mb-0 text-xs">Webdev</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">$14,000</p>
                                        </td>
                                        <td>
                                            <span class="badge badge-dot me-4">
                                                <i class="bg-info"></i>
                                                <span class="text-dark text-xs">working</span>
                                            </span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <div class="d-flex align-items-center">
                                                <span class="me-2 text-xs">80%</span>
                                                <div>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="80" style="width: 80%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="align-middle">
                                            <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v text-xs"></i>
                                            </button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="d-flex px-2">
                                                <div>
                                                    <img src="../../assets/img/logos/small-logos/logo-xd.svg" class="avatar avatar-sm rounded-circle me-2">
                                                </div>
                                                <div class="my-auto">
                                                    <h6 class="mb-0 text-xs">Adobe XD</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">$2,300</p>
                                        </td>
                                        <td>
                                            <span class="badge badge-dot me-4">
                                                <i class="bg-success"></i>
                                                <span class="text-dark text-xs">done</span>
                                            </span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <div class="d-flex align-items-center">
                                                <span class="me-2 text-xs">100%</span>
                                                <div>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="align-middle">
                                            <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v text-xs"></i>
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container py-6 mt-3">
        <div class="row">
            <div class="col-4 mx-auto">
                <div class="form-check form-switch d-flex align-items-center ps-6">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label ms-3 mb-0" for="flexSwitchCheckDefault">Remember me</label>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-6 mt-3">
        <div class="d-flex justify-content-center align-items-center">
            <div>
                <div class="form-check form-switch mb-0">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                </div>
            </div>
            <div class="ms-4">
                <span class="text-dark font-weight-bold d-block text-sm">Remember me</span>
                <span class="text-xs d-block">Be sure that you will always be logged in.</span>
            </div>
        </div>
    </div>

